@import 'base/_mixins';

$fontfamily: 'Nunito', sans-serif;
$minwidth: 360px;
$mw: 1240;
$md1: $mw + 10;
$md2: 991.98;
$md3: 767.98;
$md4: 639.98;
$md5: 479.98;

$color1: #000000;
$color2: #fe5f00;

$color-gray: #666;

._container {
  max-width: $mw + px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
  @media (max-width: $md1+px) {
    max-width: 970px;
  }
  @media (max-width: $md2+px) {
    max-width: 800px;
    padding: 0 10px;
  }
  @media (max-width: $md3+px) {
    max-width: none;
  } //padding: 0 10px;
  @media (max-width: $md4 + px) {
  }
}

@import 'base/_ui';

@import 'base/_input';
@import 'base/_btn';
@import 'base/_forms';

// Components
@import 'components/_header';
@import 'components/_category-bar';
@import 'components/_filter';
@import 'components/_product-cards';
// ====================================== MAIN CONTENT ============================================================================
.wrapper {
  background-color: #ffffff;
  border-radius: 20px;
  padding-bottom: 50px;
}
.main {
  gap: 50px;
  @media (max-width: $md2+px) {
    gap: 30px;
  }
  @media (min-width: $md4+px) {
    @include flexbox();
  }
}
